In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_parquet('green_tripdata_2022-11.parquet')
df.shape

(62313, 20)

In [5]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-11-01 00:28:37,2022-11-01 00:31:56,N,1.0,223,223,1.0,0.71,4.5,0.5,0.5,1.45,0.0,None,0.3,7.25,1.0,1.0,0.00
1,2,2022-11-01 00:51:02,2022-11-01 01:12:50,N,5.0,80,90,2.0,6.86,45.0,0.0,0.0,9.61,0.0,None,0.3,57.66,1.0,2.0,2.75
2,2,2022-11-01 00:51:50,2022-11-01 00:55:38,N,1.0,244,244,2.0,0.58,4.5,0.5,0.5,0.00,0.0,None,0.3,5.80,2.0,1.0,0.00
3,2,2022-11-01 00:03:32,2022-11-01 00:12:28,N,1.0,116,74,1.0,2.74,10.5,0.5,0.5,0.00,0.0,None,0.3,11.80,2.0,1.0,0.00
4,2,2022-11-01 00:17:46,2022-11-01 00:22:03,N,1.0,134,134,1.0,0.91,5.0,0.5,0.5,1.58,0.0,None,0.3,7.88,1.0,1.0,0.00

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62313 entries, 0 to 62312
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               62313 non-null  int64
 1   lpep_pickup_datetime   62313 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  62313 non-null  datetime64[ns]
 3   store_and_fwd_flag     56192 non-null  object
 4   RatecodeID             56192 non-null  float64
 5   PULocationID           62313 non-null  int64
 6   DOLocationID           62313 non-null  int64
 7   passenger_count        56192 non-null  float64
 8   trip_distance          62313 non-null  float64
 9   fare_amount            62313 non-null  float64
 10  extra                  62313 non-null  float64
 11  mta_tax                62313 non-null  float64
 12  tip_amount             62313 non-null  float64
 13  tolls_amount           62313 non-null  float64
 14  ehail_fee              0 non-null      object
 15  improvement_surcharge  62313 non-null  float64
 16  total_amount           62313 non-null  float64
 17  payment_type           56192 non-null  float64
 18  trip_type              56192 non-null  float64
 19  congestion_surcharge   56192 non-null  float64
dtypes: datetime64[ns](2), float64(13), int64(3), object(2)
memory usage: 9.5+ MB

In [8]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7E06-4672

 Directory of C:\Users\USER\Desktop\taxi

05/15/2023  08:38 PM    <DIR>          .
05/15/2023  08:38 PM    <DIR>          ..
05/15/2023  08:38 PM    <DIR>          .ipynb_checkpoints
02/14/2023  05:41 AM         1,270,324 green_tripdata_2022-11.parquet
05/15/2023  08:29 PM            10,973 nyc_taxi.ipynb
               2 File(s)      1,281,297 bytes
               3 Dir(s)  27,744,841,728 bytes free